<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>掲示板</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--以下に設置------>
  <form action="../../../../../workspace/recv.cgi" method="POST" stype="border: 1px solid black">
    年代：<input type="text" name="NENDAI" />代
    <br />
    <input type="submit">
  </form>
  <!------------------>
<!--
  <ion-list>
    {{showText}}
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, itemy)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
-->
</ion-content>
